<% if user_signed_in? %>
  <li>
    <%=  %>
    <% if current_user.id != 1 %>
      <%= link_to('Profile', profile_path(current_user.id), method: :get) %>
    <%end%>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  </li>
<% else %>
  <li>
    <%= link_to('Login', new_user_session_path) %>
  </li>
<% end %>
