
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @user.name %></h1>
    <p>
      The book <%= @book.title %>, has been been issued for
      username <%= @user.email %>.<br>
    </p>
    <p>Return the book before due date to avoid fines</p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>