
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Library, <%= @user.name %></h1>
    <p>
      Your account has been approved as a Librarian,
      your username is: <%= @user.email %>.<br>
    </p>
    <p>
      Login to the site and update your profile details to get started.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>