<h1>Hold Request</h1>
<table id="myTable">
  <thead>
  <tr>
    <th>Book ID</th>
    <th>Book Name</th>
    <th>Student Id</th>
    <th> Student Name</th>
  </tr>
  </thead>
  <tbody>
  <% @list_of_holds = BookIssueTransaction.where('status = ?', '2') %>
  <% @list_of_holds.each do |log| %>
    <tr>
      <td><%= log.books_id %></td>
      <td><%= log.books_id  %></td>
      <td><%= log.users_id %></td>
      <td><%= log.users_id %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>
